%h2 ゆりえ
.row
  .col-xs-6.col-md-4
    .home-stat
      .desc に Yo した人数
      .number <strong>309</strong>
      .unit 人
  .hidden-xs.hidden-sm.col-md-4
    .home-stat
      .desc が Yo された回数
      .number <strong>60,568</strong>
      .unit 回
  .col-xs-6.col-md-4
    .home-stat
      .desc が Yo した回数
      .number <strong>65,036</strong>
      .unit 回
%h2 好きな人ランキング
%p.home-ranking
  <strong><i class="fa fa-trophy"></i> 1. THINKALIKER</strong> : 恋人みたい (65.59)<br>
  <strong><i class="fa fa-trophy"></i> 2. SYAMISENRINGO</strong> : 恋人みたい (62.13)<br>
  <strong><i class="fa fa-trophy"></i> 3. MNMTHY</strong> : 友達以上恋人未満 (44.28)<br>
  <strong><i class="fa fa-trophy"></i> 4. MINIMIKIMAN</strong> : 友達以上恋人未満 (32.67)<br>
  <strong><i class="fa fa-trophy"></i> 5. UME</strong> : 友達以上恋人未満 (32.14)<br>
  6. BAKUNYO : 友達以上恋人未満 (27.17)<br>
  7. GOMIKUN : なかよし (21.93)<br>
  8. XONO : なかよし (21.81)<br>
  9. JERRYFISHERS : なかよし (21.59)<br>
  10. C0C0R0 : なかよし (20.18)<br>
  11. FILAN : なかよし (19.16)<br>
  12. YUKIMIYABI : なかよし (19.10)<br>
  13. CHAPPE : なかよし (16.40)<br>
  14. NAKACHU : なかよし (15.13)<br>
  15. NAHOKI : なかよし (12.59)<br>
  16. JORICO : 友達 (12.43)<br>
  17. DUBSGUY : 友達 (12.37)<br>
  18. SUZUMETUNE : 友達 (11.72)<br>
  19. JANG : 友達 (11.36)<br>
  20. YOBONSAI : 友達 (11.27)<br>
  21. KURONEKOMOFU2 : 友達 (11.00)<br>
  22. EXABYTE : 友達 (10.99)<br>
  23. KYHEI : 友達 (10.61)<br>
  24. KJOSHUA : 友達 (10.52)<br>
  25. INSPIREME : 友達 (10.40)<br>
  26. ANDYPAIK : 友達 (9.98)<br>
  27. YUYAGL : 友達 (9.64)<br>
  28. KINO0104 : 友達 (9.56)<br>
  29. BRADIKADIS : 友達 (9.22)<br>
  30. XYLONAMIYX : 友達 (8.63)<br>
  31. YODESUNE : 友達 (8.52)<br>
  32. RCH850 : 友達 (7.98)<br>
  33. JACOBRO : 友達 (7.92)<br>
  34. KAJIO : 友達 (7.89)<br>
  35. UNASUKE : 友達 (7.77)<br>
  36. ALICER : 友達 (7.52)<br>
  37. YOGABE : 友達 (7.23)<br>
  38. AFAL : 友達 (7.18)<br>
  39. FUTABAAA : 友達 (7.00)<br>
  40. ASUMIKANA : 友達 (6.85)<br>
  41. KANIZMB : 友達 (6.81)<br>
  42. MSD48 : 友達 (6.68)<br>
  43. HITUNEN : 友達 (6.48)<br>
  44. MURAJUN1978 : 友達 (6.35)<br>
  45. MOETASO : 顔見知り (6.16)<br>
  46. SSOHN : 顔見知り (5.79)<br>
  47. HARUO : 顔見知り (5.36)<br>
  48. MISAKA1005 : 顔見知り (5.17)<br>
  48. NKOZ : 顔見知り (5.17)<br>
  50. IANMONROE : 顔見知り (4.96)<br>
  51. TAKESHIHATTORI : 顔見知り (4.93)<br>
  52. LATTECINNA : 顔見知り (4.62)<br>
  53. PRINCESSXENA : 顔見知り (4.56)<br>
  54. BENCROX : 顔見知り (4.55)<br>
  54. NIPAKAI : 顔見知り (4.55)<br>
  56. COOSUKE : 顔見知り (4.51)<br>
  57. NWEASEL : 顔見知り (4.50)<br>
  58. TATSU : 顔見知り (4.44)<br>
  59. LIZALEX : 顔見知り (4.33)<br>
  60. 😊 : 顔見知り (4.03)<br>
  61. DOCTORGLENNCHUBSACK : 顔見知り (3.96)<br>
  62. STONEDPC : 顔見知り (3.87)<br>
  63. JOHNMP420 : 顔見知り (3.82)<br>
  64. LIAM4 : 顔見知り (3.81)<br>
  65. RAPIDJAZZ : 顔見知り (3.76)<br>
  66. SUNANDPLANET : 顔見知り (3.45)<br>
  67. TAKEHON : 顔見知り (3.17)<br>
  68. ILOVEPHOTOGENIC : 顔見知り (3.13)<br>
  69. TOMOIMA : 感情なし (3.12)<br>
  70. MAAARCKO : 感情なし (3.08)<br>
  71. SHOJIKO : 感情なし (3.07)<br>
  72. MACHKICKER : 感情なし (2.95)<br>
  73. YMM : 感情なし (2.87)<br>
  74. MASMI : 感情なし (2.79)<br>
  74. WOODYKAWAGOE : 感情なし (2.79)<br>
  76. A1FE : 感情なし (2.78)<br>
  77. MUSUKA : 感情なし (2.73)<br>
  78. HIGRASHI : 感情なし (2.61)<br>
  79. MAKISUKE : 感情なし (2.57)<br>
  79. PECOMERI : 感情なし (2.57)<br>
  81. HEYHORA : 感情なし (2.54)<br>
  82. TATUMAKIGEN : 感情なし (2.53)<br>
  83. DUSTINDOWELL : 感情なし (2.50)<br>
  83. MAJACKYY : 感情なし (2.50)<br>
  85. YOMOYASHI : 感情なし (2.43)<br>
  86. HIM0 : 感情なし (2.37)<br>
  87. MORIZYUN : 感情なし (2.35)<br>
  88. PYRE : 感情なし (2.32)<br>
  89. YOLORCHY : 感情なし (2.31)<br>
  90. SESSEJIMMS : 感情なし (2.25)<br>
  91. AKAYAN365 : 感情なし (2.23)<br>
  92. POGUSMAGNUS : 感情なし (2.22)<br>
  93. KMD : 感情なし (2.13)<br>
  94. KANATAACHIRA : 感情なし (2.10)<br>
  95. KINGFEURIO : 感情なし (2.09)<br>
  96. NEZIO : 感情なし (2.00)<br>
  97. YUNGWOOZY : 感情なし (1.98)<br>
  98. YOSADONN : 感情なし (1.93)<br>
  99. OMGPONIES : 感情なし (1.83)<br>
  99. TEIKOU : 感情なし (1.83)<br>

%h2 おまけ
%p ゆりえDaysでキャラデザをしていただいた赤やんさんがサービスのオープンを記念してイラストを描いてくれました！
%p= link_to((image_tag('mini_social_icons/pixiv.png', alt: 'pixiv', width: 20, height: 20) + ' 赤やんさん'), 'http://www.pixiv.net/member.php?id=6377613', class: 'btn btn-default')
%blockquote.twitter-tweet{lang: 'ja'}
  %p <a href="http://t.co/vgbx0X1GER">http://t.co/vgbx0X1GER</a>&#10;自分がキャラデザ担当させていただいた&#10;ヒロイン「ゆりえ」とyoでコミュニケーションが取れる&#10;新感覚webサービス『ゆりえDays』先日オープンしました！&#10;よろしくお願いします！！ <a href="http://t.co/CXievYWEDN">pic.twitter.com/CXievYWEDN</a>
  &mdash; 赤やん@PQプレイ中 (@akayan365) <a href="https://twitter.com/akayan365/statuses/489064285209784320">2014, 7月 15</a>
%blockquote.twitter-tweet{lang: 'ja'}
  %p <a href="http://t.co/PgJifk0IMg">http://t.co/PgJifk0IMg</a> &#10;ヒロイン「ゆりえ」とyoでコミュニケーションが取れる&#10;新感覚webサービス『ゆりえDays』&#10;キャラクターデザインを担当させていただいています。どうぞ宜しくお願いします！ <a href="http://t.co/SOKOkKd9C4">pic.twitter.com/SOKOkKd9C4</a></p>&mdash; 赤やん (@akayan365) <a href="https://twitter.com/akayan365/statuses/502510606893592577">2014, 8月 21</a></blockquote>
%script{async: 'async', src: '//platform.twitter.com/widgets.js', charset: 'utf-8'}
